body {
	font-family:calibri;
}

table {
	border-collapse:collapse;
}

th, td {
	width:200px;
	border:1px solid black;
	text-align:center;
}

tr:nth-child(even) {
	background:#CCC;
}

.modal {
	display:block;
}
